
.cards{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.cards .card{
    flex: 1 1 calc(33.3% - 20px);
    padding: 20px;
    border-radius: 10px;
}

.card{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}
