.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -777;
}

.main_left{
    flex-basis: 55%;
}

.main_right{
    flex-basis: 45%;
    background: radial-gradient(circle,rgb(219, 120, 194), #f8f9fa);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.main_right img{
    width: 100%;
    border-radius: 10px;
    
}

.main_left_content_title{
    font-size: 28px;
    
}

.main_left_content_description,p{
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0;
}

button{
    color: #ec1bae;
    border: 1px solid #ec1bae;
    outline: 0;
    border-radius: 40px;
    padding: 10px 18px;
    cursor: pointer;
}

.main_left_content{
    width: 100%;
}